
# Put this in your .aliases, .profile, or preferred .shellrc
# function npm() {
#   if [[ -z $FORCE_YARN ]]
#   then
#     /usr/local/bin/npm "$@"
#   else
#     echo "We use yarn here!"
#     echo "  yarn start"
#     echo "  yarn add <package> --dev"
#   fi
# }
export FORCE_YARN=1
